<p id="notice"><%= notice %></p>

<h1>Consultors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultors.each do |consultor| %>
      <tr>
        <td><%= consultor.nombre %></td>
        <td><%= consultor.apellido %></td>
        <td><%= consultor.edad %></td>
        <td><%= consultor.direccion %></td>
        <td><%= consultor.telefono %></td>
        <td><%= link_to 'Show', consultor %></td>
        <td><%= link_to 'Edit', edit_consultor_path(consultor) %></td>
        <td><%= link_to 'Destroy', consultor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultor', new_consultor_path %>
