<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consultor.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @consultor.apellido %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @consultor.edad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @consultor.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @consultor.telefono %>
</p>

<%= link_to 'Edit', edit_consultor_path(@consultor) %> |
<%= link_to 'Back', consultors_path %>
